body{
    background-color: aquamarine;
    color: rgb(3, 3, 140);
}
h1 {
    font-size: 64px;
}
.kokos{
    color:hotpink;
}
.meloun{
    font-style: italic;
}
#jahudka{
    background-color: tomato;
}
#jahudka strong{
    color:rgb(10, 43, 24);
}